<nav class="navbar">
    <div class="navbar-left">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Stilista Logo" class="logo">
    </div>
    <ul class="nav-links">
        <li><a href="{{ url_for('home') }}">Главная</a></li>
        <li><a href="{{ url_for('about') }}">О нас</a></li>
        <li><a href="{{ url_for('contact') }}">Контакты</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('account') }}">Личный кабинет</a></li>
            <li><a href="{{ url_for('logout') }}">Выйти</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Войти / Зарегистрироваться</a></li>
        {% endif %}
    </ul>
</nav>
